---
layout: default
---

<div id="posts">
	{% for post in site.posts %}
		<article class="post">

			<a href="{{ site.baseurl }}{{ post.url }}" class="hoverLink">
				<div class="floatContainer">
					<div class="postDate">{{ post.date | date: "%Y.%m.%d" }}</div>
					<div class="postTitle">{{ post.title }}</div>
				</div>

				<div class="entry">
					{% if post.imgDir %}
						{% for file in site.static_files %}
							{% assign a = file.path | split: post.imgDir | size %}
							{% if a > 1 %}
								<img src="{{ site.baseurl }}{{ file.path }}" alt="{{ post.title }}" class="regularImg">
								{% break %}
							{% endif %}
						{% endfor %}
					{% endif %}

					<p>
						{{ post.excerpt | remove: '<p>' | remove: '</p>' | escape | strip }}..
					</p>
				</div>
			</a>
		</article>
	{% endfor %}
</div>