---
layout: default
---

<div class="posts">
	{% for post in site.posts %}
		<article class="post">

			<a href="{{ site.baseurl }}{{ post.url }}" class="hoverLink">
				<div class="floatContainer">
					<div class="postDate">{{ post.date | date: "%Y.%m.%d" }}</div>
					<div class="postTitle">{{ post.title }}</div>
				</div>

				<div class="entry">
					{% if post.image %}
						<img src="{{ site.baseurl }}/images/blog-images/{{ post.image }}" alt="{{ post.title }}" class="regularImg">
					{% endif %}

					<p>
						{{ post.excerpt | remove: '<p>' | remove: '</p>' | escape | strip }}..
					</p>
				</div>
			</a>
		</article>
	{% endfor %}
</div>