---
layout: default
---

<div class="container">
  <div id="posts">
    {% assign postCount = 0 %}
    {% for post in site.posts %}
      <article class="post">
      {% if postCount > 4 %}
        <a href="{{ site.baseurl }}/archive.html">
          <span class="read-more">Check the archive for older posts</span> &rarr;
        </a>
        {% break %}
      {% endif %}
      {% assign postCount = postCount | plus: 1 %}

        <a href="{{ site.baseurl }}{{ post.url }}" class="hoverLink">
          <div class="postDate">{{ post.date | date: "%Y.%m.%d" }}</div>
          <div class="postTitle">{{ post.title }}</div>
          <div class="entry">
            {% if post.imgDir %}
              {% for file in site.static_files %}
                {% assign a = file.path | split: post.imgDir | size %}
                {% assign b = file.path | split: "standard" | size %}
                {% if a > 1 and b > 1 %}
                  <img src="{{ site.baseurl }}{{ file.path }}" alt="{{ post.title }}" class="regularImg">
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}

            <p>
              {{ post.excerpt | remove: '<p>' | remove: '</p>' | strip }}..
            </p>
          </div>
        </a>
      </article>
    {% endfor %}
  </div>
</div>