---
layout: default
---

<script type="text/javascript">
	$(function() {
		var numImgs = $('.galleryImg').length;

	  $(".galleryImg").click(function() {
	  	$(".galleryThumb").removeClass("active");
	    $(".galleryImg").removeClass("active");

	    var newNum = (parseInt(this.id.slice(1)) + 1) % numImgs;

	    var fId = '#f' + newNum;
	    var tId = '#'  + newNum;

	    $(tId).addClass("active");
	    $(fId).addClass("active");
	  });

	  $(".galleryThumb").click(function() {
	  	$(".galleryThumb").removeClass("active");
	    $(".galleryImg").removeClass("active");

	    var fId = '#f' + this.id;
	    $(this).addClass("active");
	    $(fId).addClass("active");
	  });
	});
</script>

<article class="post">
	<div class="centerContainer">
		<div class="floatContainer" style="border-bottom: 1px solid #ccc">
			<div class="postDate">{{ page.date | date: "%Y.%m.%d" }}</div>
			<div class="postTitle">{{ page.title }}</div>

			<!-- SHOW ICON LINKS -->
			<div style="display:inline-block">
				{% if page.mala %}
					<a href="http://www.myanimelist.net/anime/{{ page.mala }}" target="_blank">
						<img src="{{ site.baseurl }}/images/icons/mal.png" alt="MyAnimeList" title="MyAnimeList" class="iconSml">
					</a>
				{% elsif page.malm %}
					<a href="http://www.myanimelist.net/manga/{{ page.malm }}" target="_blank">
						<img src="{{ site.baseurl }}/images/icons/mal.png" alt="MyAnimeList" title="MyAnimeList" class="iconSml">
					</a>
				{% endif %}
				{% if page.ann %}
					<a href="http://www.animenewsnetwork.com/encyclopedia/anime.php?id={{ page.ann }}" target="_blank">
						<img src="{{ site.baseurl }}/images/icons/ann.png" alt="Anime News Network" title="Anime News Network" class="iconSml">
					</a>
				{% endif %}
				{% if page.anidb %}
					<a href="https://anidb.net/a{{ page.anidb }}" target="_blank">
						<img src="{{ site.baseurl }}/images/icons/anidb.png" alt="aniDB" title="aniDB" class="iconSml">
					</a>
				{% endif %}
			</div>
			<!--  END ICON LINKS -->
		</div>

		<!-- SHOW ALTERNATE TITLES -->
		{% if page.altTitles %}
			<div style="font-size: 12px; white-space: nowrap; clear:both">
				{{ page.altTitles | join: ' - <wbr />' }}
			</div>
		{% endif %}
		<!--  END ALTERNATE TITLES -->

		<!-- SHOW CATS/TAGS -->
		{% if page.categories %}
			<div class="floatContainer" style="font-size: 12px; white-space: nowrap; clear:both">
				{% for cat in page.categories %}
					<wbr><a href="{{ site.baseurl}}/cats/{{ cat }}">{{ cat | capitalize }}</a>
					{% unless forloop.last %} - {% endunless %}
				{% endfor %}
			</div>
		{% endif %}

		{% if page.tags %}
			<div class="floatContainer" style="font-size: 12px; white-space: nowrap; clear:both">
				{% for tag in page.tags %}
					<wbr><a href="{{ site.baseurl}}/tags/{{ tag }}">{{ tag | capitalize }}</a>
					{% unless forloop.last %} - {% endunless %}
				{% endfor %}
			</div>
		{% endif %}
		<!--  END CATS/TAGS -->
	</div>

	<!-- SHOW CONTENT -->
	<div class="entry">
    {% if page.imgDir %}
			{% assign imgCount = 0 %}
			{% assign lThumbs = "" %}
			{% assign rThumbs = "" %}
			{% assign fullImages = "" %}

      {% for file in site.static_files %}
        {% assign a = file.path | split: page.imgDir | size %}
        {% if a > 1 %}
        		{% assign isOdd = imgCount | modulo: 2 %}

        		{% if imgCount > 9 %}
        			{% break %}
        		{% endif %}

        		{% if imgCount == 0 %}
        			{% assign fullImages = fullImages | append: "<img src='" | append: site.baseurl | append: file.path | append: "' alt='" | append: page.title | append: "' id='f" | append: imgCount | append: "' class='galleryImg active'>" %}
						{% else %}
        			{% assign fullImages = fullImages | append: "<img src='" | append: site.baseurl | append: file.path | append: "' alt='" | append: page.title | append: "' id='f" | append: imgCount | append: "' class='galleryImg'>" %}
        		{% endif %}

        		{% if isOdd == 0 %}
        			{% if imgCount == 0 %}
        				{% assign lThumbs = lThumbs | append: "<img src='" | append: site.baseurl | append: file.path | append: "' alt='" | append: page.title | append: "' id='" | append: imgCount | append: "' class='galleryThumb active'>" %}
        			{% else %}
        				{% assign lThumbs = lThumbs | append: "<img src='" | append: site.baseurl | append: file.path | append: "' alt='" | append: page.title | append: "' id='" | append: imgCount | append: "' class='galleryThumb'>" %}
        			{% endif %}
        		{% else %}
        			{% assign rThumbs = rThumbs | append: "<img src='" | append: site.baseurl | append: file.path | append: "' alt='" | append: page.title | append: "' id='" | append: imgCount | append: "' class='galleryThumb'>" %}
        		{% endif %}

        		{% assign imgCount = imgCount | plus: 1 %}
        {% endif %}
      {% endfor %}


			<div class="centerContainer gallery">
				<div class="inlineContainer">
					{{ lThumbs }}
				</div>
				<div class="inlineContainer">
					{{ fullImages }}
				</div>
				<div class="inlineContainer">
					{{ rThumbs }}
				</div>
			</div>
		{% else %}
			<br/>
		{% endif %}

		{{ content }}

		<!-- SHOW RECOMMENDATIONS -->
		{% if page.recs %}
			If you enjoy {{ page.title }}, try these other series:
			<ul>
			{% for rec in page.recs %}
				<li>
				{% assign found = false %}

				{% for post in site.posts %}
					{% if post.title == rec %}
						{% assign recURL = post.url %}
						{% assign found = true %}
						{% break %}
					{% endif %}
				{% endfor %}

				{% if found %}
					<a href="{{ site.baseurl }}{{ recURL }}">{{ rec }}</a>
				{% else %}
					{{ rec }}
				{% endif %}
				</li>
			{% endfor %}
			</ul>
		{% endif %}
		<!--  END RECOMMENDATIONS -->
	</div>
	<!--  END CONTENT -->

	<!-- SHOW COMMENTS -->
	{% include disqus.html %}
	<!--  END COMMENTS -->
</article>