---
layout: default
---

<article class="post">
  <div class="postTitleAndDate">
	  <div class="postDate">{{ page.date | date: "%Y.%m.%d" }}</div>
  	<div class="postTitle">{{ page.title }}</div>
    {% if page.mala %}
      <a href="http://www.myanimelist.net/anime/{{ page.mala }}" target="_blank">
        <img src="{{ site.baseurl }}/images/icons/mal.png" alt="MyAnimeList" title="MyAnimeList" class="iconImg">
      </a>
    {% elsif page.malm %}
      <a href="http://www.myanimelist.net/manga/{{ page.malm }}" target="_blank">
        <img src="{{ site.baseurl }}/images/icons/mal.png" alt="MyAnimeList" title="MyAnimeList" class="iconImg">
      </a>
    {% endif %}
    {% if page.anidb %}
      <a href="https://anidb.net/a{{ page.anidb }}" target="_blank">
        <img src="{{ site.baseurl }}/images/icons/anidb.png" alt="aniDB" title="aniDB" class="iconImg">
      </a>
    {% endif %}
    {% if page.ann %}
      <a href="http://www.animenewsnetwork.com/encyclopedia/anime.php?id={{ page.ann }}" target="_blank">
        <img src="{{ site.baseurl }}/images/icons/ann.png" alt="Anime News Network" title="Anime News Network" class="iconImg">
      </a>
    {% endif %}
	</div>

  <div class="entry">
		{% if page.image %}
			<img src="{{ site.baseurl }}/images/blog-images/{{ page.image }}" alt="{{ page.title }}" class="regularImg">
		{% endif %}

    {{ content }}

    {% if page.recs %}
      If you enjoy {{ page.title }}, try these other series:
      <ul>
      {% for rec in page.recs %}
        <li>
        {% assign found false %}
        {% assign modName rec | replace ' ', '_' %}

        {% for file in site.static_files %}
          {% assign splitPath file.path | remove '.md' | split: '-' %}
          {% assign recPath '' %}
          {% for part in splitPath offset:3 %}
            {% assign temp recPath %}
            {% capture recPath %}{{ temp }}{{ part }}{% endcapture %}
          {% endfor %}

          {% if recPath == modName %}
            {% assign found true %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% if found %}
          <a href="{{ recPath }}">{{ rec }}</a>
        {% else %}
          {{ rec }}
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}

  </div>

  {% include disqus.html %}
</article>