---
layout: default
---

<article class="post">
  <div class="postTitleAndDate">
	  <div class="postDate">{{ page.date | date: "%Y.%m.%d" }}</div>
  	<div class="postTitle">{{ page.title }}</div>
    {% if page.mala %}
      <a href="http://www.myanimelist.net/anime/{{ page.mala }}" class="margin5"><img src="{{ site.baseurl }}/images/mal.png" alt="MyAnimeList" class="iconImg"></a>
    {% elseif page.malm %}
      <a href="http://www.myanimelist.net/manga/{{ page.malm }}" class="margin5"><img src="{{ site.baseurl }}/images/mal.png" alt="MyAnimeList" class="iconImg"></a>
    {% endif %}
    <a href="https://anidb.net/a{{ page.anidb }}" class="margin5"><img src="{{ site.baseurl }}/images/anidb.png" alt="aniDB" class="iconImg"></a>
    {% if page.anidb %}
    {% endif %}
	</div>

  <div class="entry">
		{% if page.image %}
			<img src="{{ site.baseurl }}/images/{{ page.image }}" alt="{{ page.title }}" class="regularImg">
		{% endif %}

    {{ content }}
  </div>

  {% include disqus.html %}
</article>